#root {
  padding: 2rem;
}

body {
  font-family: quicksand;
  margin-bottom: 20rem;
}

h1,
h2,
h3 {
  color: #244968;
}

h2 {
  line-height: 1.25;
  font-weight: 800;
  margin: 0;
  font-size: 22px;
  margin-bottom: .5rem;
}

h3 {
  margin: 0 0 1rem;
}

span {
  background-color: #3fafc1;
  border-radius: .25rem;
  width: 2.5rem;
  height: 3px;
  margin: 0;
  margin-bottom: .75rem;
  float: left;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem 1rem 0 0;
}

.resource-card {
  width: 100%;
  box-shadow: 0px 1px 5px 5px rgb(0 0 0 / 24%);
  border-radius: 1rem;
  margin: 2rem 0 3rem;
}

.resource-card-content {
  padding: 1rem;
  color: #244968;
}

.tags {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: .5rem;
  flex-wrap: wrap;
}

.tag {
  background-color: #244968;
  color: white;
  text-align: center;
  border-radius: .5rem;
  padding: .25rem 1rem;
  margin: 0;
}

.sort-filter-container {
  margin: 1rem 0;
}

.sort-filter {
  width: 100%;
  margin: .5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.sort-filter label {
  width: 100%;
}

.sort-filter select,
.sort-filter input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: .75rem;
}

.sort-filter select {
  background-color: #9B94C6;
  color: white;
}

.sort-filter input {
  color: #244968;
  border: solid 2px #9B94C6;
}

@media only screen and (min-width: 412px) {
  #root {
    margin: auto;
  }

  body {
    margin-bottom: 25rem;
  }

  .resource-card {
    margin: 2rem auto 3rem;
  }
}

@media only screen and (min-width: 650px) {

  .sort-filter-container,
  .cards-container {
    display: flex;
    justify-content: space-between;
  }

  .cards-container {
    flex-wrap: wrap;
    width: 100%;
  }

  .sort-filter {
    width: 45%;
  }

  .resource-card {
    width: 45%;
    margin: 2rem 0 3rem;
  }
}

@media only screen and (min-width: 792px) {
  h2 {
    width: 100%;
  }
}

@media only screen and (min-width: 874px) {
  .resource-card {
    width: 30%;
  }

  .cards-container {
    justify-content: start;
    gap: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    max-width: 960px;
  }
}